// If you want to override variables do it here
@import 'variables';

$enable-ltr: true;
$enable-rtl: true;

// Import CoreUI for React components library
@import '@coreui/coreui/scss/coreui';

// Import Chart.js custom tooltips styles
@import '@coreui/chartjs/scss/coreui-chartjs';

@import 'layout';
@import 'example';

// If you want to add custom CSS you can put it here.
@import 'custom';

//reset
button {
  background-color: transparent;
  border-radius: 5px;
}

//notice
.table {
  tr {
    &:nth-child(2n-1) {
      td {
        .delete__btn:hover,
        .modify__btn:hover {
          background-color: #fff;
          color: #000;
        }
      }
    }
    td {
      .delete__btn {
        margin-right: 5px;
      }
      .delete__btn:hover,
      .modify__btn:hover {
        background-color: #666;
        color: #fff;
      }
    }
  }
}

.modal__form {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px #eee solid;
  padding: 30px 50px;
  fieldset {
    label {
      & + textarea {
        display: block;
        width: 100%;
        height: 100px;
        margin-bottom: 20px;
        resize: none;
      }
    }
    button[type='submit'] {
      float: right;
    }
  }
}
.modal__btn--close {
  position: absolute;
  top: 20px;
  right: 20px;
}
